.header {
  background-color: var(--primary-color);
  width: 100%;
  min-height: var(--header-height);
  display: flex;
  justify-content: center;
}

.header__nav {
  display: flex;
}

.header__list {
  display: flex;
  align-items: center;
}

.header__link {
  font-family: var(--primary-font-family);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  text-decoration: none;
  color: white;
  border-radius: var(--radius-sm);
  padding: 0.25rem 0.75rem;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.header__link:hover {
  background-color: #eaeaea;
  color: black;
}

@media (width >= 30rem) {
  .header__list {
    gap: var(--space-lg);
  }

  .header__link {
    padding: 0.5rem 1rem;
  }
}

@media (width >= 48rem) {
  .header {
    justify-content: start;
  }

  .header__nav {
    padding-left: 1.25rem;
  }

  .header__link {
    font-size: var(--font-size-md);
  }
}
